<div class="container">
  <h3>Export Your Website</h3>
  <a class="btn blue waves-effect waves-light" ng-click='download()' >download file<i class="material-icons right">file_download</i></a>
  <div ng-repeat='template in templates'>
  

  <div  class="codeblock"><a class="btn green waves-effect waves-light" id="copy-button" data-clipboard-text="{{template.template}}">Copy to clipboard<i class="material-icons right">content_paste</i></a> <pre><code>{{ template.template }}</code></pre></div>
</div>
